  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  svg {
      display: block;
      background-color: #ffffff;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .remove-button {
      font-size: 10px;
      padding: 2px 4px;
      cursor: pointer;
  }